* {
  margin: ;
}

.app{
  display: flex;
  padding-top: 10px;
  justify-content: space-evenly;
  align-self: top;
  align-items: top;

}

.app__table{
  width: 600px;
}
amplify-authenticator {
  background: purple;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}
:root {
  --amplify-primary-color: #6347ff;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}
